.cuadrado {
  width: 200px;
  height: 200px;
  border: 5px solid black;
}

.red {
  background: red;
}
.blue {
  background: blue;
}
.orange {
  background: orange;
}
.green {
  background: green;
}

.red.clickeado {
  background: darkred;
}
.blue.clickeado {
  background: darkblue;
}
.orange.clickeado {
  background: darkorange;
}
.green.clickeado {
  background: darkgreen;
}
